<mat-toolbar color="primary">
  <span>Ng-Shoplist</span>
  <span class="spacer"></span>
  <ng-container *ngIf="auth.authenticated">
    <ng-container *ngIf="auth.waiting; else signOutIconTmpl">
      <button mat-icon-button aria-label="Signing out...">
        <mat-icon>pending</mat-icon>
      </button>
    </ng-container>
  </ng-container>
</mat-toolbar>

<ng-template #signOutIconTmpl>
  <button mat-icon-button aria-label="Sign out from application" (click)="auth.signOut()">
    <mat-icon>logout</mat-icon>
  </button>
</ng-template>
