<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3">
    <h2>Login</h2>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <div class="row">
        <div class="input-field col s12 m4 offset-m4">
          <input type="text" id="email" name="email" placeholder="your@email.here" class="validate" (ngModel)="email" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 offset-m4">
          <input type="password" id="password" name="password" placeholder="Your secret password" class="validate" (ngModel)="password" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s10 offset-s1 m4 offset-m4 center">
          <button class="btn waves-effect waves-light" type="submit" [disabled]="!formData.valid">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 offset-m3 center">
    <a [routerLink]="['/signup']">Doesn't have an account? Sign up now!</a>
  </div>
</div>
