<div class="row">
  <div class="col s2 m4"></div>

  <div class="col s8 m4">
    <h1>New Item</h1>

    <form role="form">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="name" name="name" placeholder="What do you need to buy?" class="validate" [(ngModel)]="item.name">
          <label for="name">Name</label>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="input-field col s12">
          <select id="unit" name="unit" [(ngModel)]="item.unit" class="form-control">
            <option value="">Choose the quantity unit</option>
      	    <!--<option [ngValue]="Dozen(s)">Dozen(s)</option>
      	    <option [ngValue]="Grams">Grams</option>
      	    <option [ngValue]="Mililiters">Mililiters</option>
      	    <option [ngValue]="Packet(s)">Packet(s)</option>
      	    <option [ngValue]="Unit(s)">Unit(s)</option>
      	    <option [ngValue]="Other">Other</option>->
      	    <option *ng-for="let u of units; last = last" [ngValue]="u">{{u}}
              <span *ngIf="last">{{$('select').material_select()}}</span>
      	    </option>
          </select>
          <label>Quantity Unit</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <p class="range-field">
            <input type="range" id="quantity" name="quantity" min="0" max="10" value="0" [(ngModel)]="item.quantity"/>
          </p>
        </div>
      </div>-->
      <div class="row">
        <div class="col s6 center">
          <button class="btn waves-effect waves-light" type="button" name="action" (click)="this.location.back()">Cancel</button>
        </div>
        <div class="col s6 center">
          <button class="btn waves-effect waves-light" type="button" name="action" (click)="add()">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col s2 m4"></div>
</div>
