.app-root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: #fff; // FIXME

  .router-container {
    display: flex;
    flex: 1;
    justify-content: center;

    padding-top: 20px;
  }
}
