.app-root {
  color: white; // FIXME

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .router-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
