<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Shoplist</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="auth.authenticated">
      <li><a routerLink="/list">List</a></li>
      <li><a routerLink="/add">Add</a></li>
      <li><a routerLink="/logout" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2016 Guilherme J. de C. Gois
      <a
        class="grey-text text-lighten-4 right"
        href="https://github.com/guilhermejcgois"
        target="_blank" rel=noopener>
        Other projects
      </a>
    </div>
  </div>
</footer>
