/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles/components';

@include mat.core();

$primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$my-app-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-app-theme);
@include components.theme($my-app-theme);

@import url('./styles/reset.scss');

html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
